---
// https://css-tricks.com/a-trick-that-makes-drawing-svg-lines-way-easier/
import Layout from '../layouts/Layout.astro'
import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import dayjs from 'dayjs'

import type { CheckIn } from '../../contentfulTypes'

const entries = await contentfulClient.getEntries<CheckIn>({
  content_type: 'checkIn',
})
---

<Layout title="Welcome to Astro.">
  <main class="md:w-1/2">
    <ul class="space-y-6">
      {
        entries.items.map(
          ({ fields: { title, note, date, media, mileMarker, location } }) => (
            <li class="rounded-lg bg-slate-800 p-4">
              <div class="font-semi-bold mb-1 flex justify-between text-xs tracking-wide text-slate-400">
                <span>
                  {dayjs(date).format('MMM DD, YYYY')} •
                  {location ? `${location} • ` : ''}
                  {mileMarker}mi
                </span>
              </div>

              <h1 class="text-2xl font-bold text-slate-200">{title}</h1>
              {note && (
                <div
                  class="mt-4 text-slate-400"
                  set:html={documentToHtmlString(note)}
                />
              )}
              {media && (
                <ul class="mt-4 flex space-x-3">
                  {media?.map((mediaItem, index) => (
                    <img
                      src={mediaItem.fields.file.url}
                      class:list={[
                        'h-[6rem] transition-transform hover:scale-105 rounded',
                        {
                          'rotate-1': index % 2 === 0,
                          '-rotate-1': index % 2 === 1,
                        },
                      ]}
                    />
                  ))}
                </ul>
              )}
            </li>
          )
        )
      }
    </ul>
  </main>
</Layout>
