---
// https://css-tricks.com/a-trick-that-makes-drawing-svg-lines-way-easier/
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from '../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import dayjs from 'dayjs';

import type { CheckIn } from '../../contentfulTypes';

const entries = await contentfulClient.getEntries<CheckIn>({
  content_type: 'checkIn',
});
---

<Layout title="Welcome to Astro.">
  <main class="w-1/2 mx-auto py-12">
    <ul class="space-y-2">
      {
        entries.items.map(
          ({ fields: { title, note, date, media, mileMarker, location } }) => (
            <li class="bg-slate-800 p-4 rounded-lg">
              <div class="flex justify-between text-slate-400 font-semi-bold text-xs tracking-wide mb-1">
                <span>
                  {dayjs(date).format('MMM DD, YYYY')} •
                  {location ? `${location} • ` : ''}
                  {mileMarker}mi
                </span>
              </div>

              <h1 class="text-slate-200 text-2xl font-bold">{title}</h1>
              {note && (
                <div
                  class="text-slate-400 mt-4"
                  set:html={documentToHtmlString(note)}
                />
              )}
              {media && (
                <ul class="flex space-x-3 mt-4">
                  {media?.map((mediaItem, index) => (
                    <img
                      src={mediaItem.fields.file.url}
                      class:list={[
                        'h-[6rem] transition-transform hover:scale-105 rounded',
                        {
                          'rotate-1': index % 2 === 0,
                          '-rotate-1': index % 2 === 1,
                        },
                      ]}
                    />
                  ))}
                </ul>
              )}
            </li>
          )
        )
      }
    </ul>
  </main>
</Layout>
